
body{ 
    margin:0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;

}


.leftSidePokedexLayout {
    vertical-align: top;
    width: 30%;
    height: 80%;
    background-color: red;
    position: relative;
    display: inline-block;
    border: 3px black solid;
}

.topLights {
    border: 1px black solid;
    height:17%;
    width: 100%;

}

.bulb {
    display:inline-block;
    border: 1px solid black;
    height: 80%;
    background-color: blue;
    width: 20%;
    border-radius: 50%;
}

.battery {
    display: inline-block;
    width: 8%;
    height: 25%;
    border: 1px solid black;
    vertical-align: top;
    border-radius: 50%;
}
.redBatteryLight{
    background-color: brown;
}

.yellowBatteryLight{
    background-color: yellow;
}

.greenBatteryLight{
    background-color: green;
}

.displayScreenBorder {
    width: 70%;
    height: 50%;
    border: 1px black solid;
    position: relative;
    top: 28%;
    left: 50%;
    transform: translate( -50%,-50%);
    background-color: brown;

}

.screen{
    width: 95%;
    height: 95%;
    border: 1px solid black;
    position: relative;
    top:2.5%;
    left: 2.5%;
    background-color: lightgray;
}

#pokemonImage{
    display:inline-block;
    height:50%;
    width: 49%;
    border: 1 px solid aliceblue;

}

.numberDisplay{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    height: 50%;
    border: 1px solid blue;
}

.stats{
    width:75%;
    height: 90%;
    border: 1px black solid;
    
}

.description{
    width: 100%;
    height:49%;
    border: 1px solid blue;

}

.buttonArea {
    height: 30%;
    width: 100%;
    border: 2px solid yellow;
    position: relative;
    top:2.5%;
}

.powerButton {
    height: 30%;
    width: 15%;
    border: 1px solid yellow;
    border-radius: 50%;
    background-color: darkgrey;
}

.styleButton {
    position: relative;
    width: 30%;
    height: 5%;
    vertical-align: top;
}

.selectButton {
    position: relative;
    width: 35%;
    height:30%;
    border: 1px solid green;
    display: inline-block;
    left: 24%;
    background-color: lightgreen;
}
.redSelectButton{
    background-color: red;

}
.greenSelectButton{
    background-color: darkgreen;
}
.directionalPad {
    width: 30%;
    height:40%;
    border: 1px purple solid;
    float: right;
}

.upDirection {
    display: block;
    width: 47%;
    position: relative;
    left:50%;
    transform:translate(-50%);
}

.leftDirection {
    display:inline-block;
    width: 47%;
}
.rightDirection{
    display:inline-block;
    width:47%;
}

.downDirection {
    display: block;
    width: 47%;
    position: relative;
    left:50%;
    transform:translate(-50%);
}

.rightSidePokedexLayout {
    width: 30%;
    height: 80%;
    background-color: red;
    position: relative;
    display: inline-block;
    border: 3px black solid;
}

.numberSearchBar{
    width: 80%; 
    height: 20%;
    border: 2px solid yellow;
    position: relative;
    top: 25%;
    left:10%;
    background-color: lightgray;

}

.keyPad {
    width: 80%;
    height: 18%;
    background-color: aquamarine;
    position: relative;
    top:28%;
    left:10%;
    font-size: 0;
}

.keyPad > button{
    width: 19%;
    height:50%;
    background-color: royalblue;
    margin: 0 .5%;
}

.bottomButtonLayout {
    height: 15%;
    width: 50%;
    border: 2px solid greenyellow;
    left:10%;
    position: absolute;
    bottom: 15%;
    font-size: 0;
}
.minusButton {
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
    top: 25%;
}
.plusButton{
    display: inline-block;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    position: relative;
    top: 25%;
}

.lastRowOfButtons {
    height: 7.5%;
    width: 80%;
    border: 2px solid purple;
    left:10%;
    position: absolute;
    bottom: 3%;
    font-size: 0;
}
.clear{
    width:50%;
    background-color: darkolivegreen;
}
.enter{
    width:50%;
    background-color: darkolivegreen;
}